.Cadastro-card {
  padding-top: 5vh;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 15px;
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  -webkit-box-shadow: -6px 4px 24px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -6px 4px 24px -12px rgba(0,0,0,0.75);
  box-shadow: -6px 4px 24px -12px rgba(0,0,0,0.75);
}

.Cadastro-card-mobile {
  padding-top: 5vh;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 15px;
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
}

.Title {
  font-size: 14pt;
  color: #282c34;
  margin-bottom: 20px;
}

.Botao-cadastrar {
  min-width: 250px;
  min-height: 30px;
  margin-top: 30px;
}

.Voltar-area {
  padding-top: 10%;
  padding-bottom: 10%;
}

.Voltar {
  cursor: pointer;
  color: dodgerblue;
  font-size: 10pt;
}
